body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: lightgrey;
    font-family: cursive;
}
.container{
    text-align: center;
    width: 300px;
    position: relative;
}
.counter{
    font-size: 40px;
}
.loading-back{
    position: absolute;
    height: 8px;
    background-color: lightgrey;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.loading-front{
    position: absolute;
    height: 8px;
    background-color: orangered;
    border-radius: 5px;
    border: none;
    width: 0%;
}
