body{
    margin: 0;
    font-family: cursive;
    background-color: black;
}
h1{
    text-align: center;
    color: white;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.color{
    width: 300px;
    height: 150px;
    display: flex;
    margin: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    border: solid black 2px;
    border-radius: 10px;
}